name: Build Windows

on:
  push:
    branches: [windows, main]
  pull_request:
    branches: [windows, main]

env:
  VCPKG_ROOT: C:\vcpkg

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        config: [Release, Debug]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: ${{ contains(github.ref, 'windows') }}

      - name: Setup vcpkg (main branch)
        if: ${{ !contains(github.ref, 'windows') }}
        run: |
          git clone https://github.com/microsoft/vcpkg.git ${{ env.VCPKG_ROOT }}
          cd ${{ env.VCPKG_ROOT }}
          git checkout af752f21c9d79ba3df9cb0250ce2233933f58486
          .\bootstrap-vcpkg.bat

      - name: Setup vcpkg (windows branch, submodule)
        if: ${{ contains(github.ref, 'windows') }}
        run: |
          cd vcpkg
          .\bootstrap-vcpkg.bat

      - name: Configure CMake
        run: cmake --preset windows-x64

      - name: Build
        run: cmake --build --preset windows-x64 --config ${{ matrix.config }}

      - name: Upload Artifact
        if: matrix.config == 'Release'
        uses: actions/upload-artifact@v3
        with:
          name: toss-pos-windows-x64-${{ matrix.config }}
          path: build/windows-x64/${{ matrix.config }}/toss-pos.exe
          retention-days: 30
